* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(images/pexels-photo-1103970.webp) no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.container {
  width: 300px;
  height: 300px;
  border: 2px gray solid;
  padding: 15px;
  margin-top: 80px;
  justify-self: center;
  border-radius: 15px;
  box-sizing: border-box;
}

.container h3 {
  justify-self: center;
  font-size: 30px;
}

.container label {
  ;
}